body {
    background-color: #f2cfdb; /* Lightest pink background */
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Hide any content that goes beyond the body */
}

.container {
    text-align: center;
}

img {
    width: 300px; /* Adjust the width of the cat image */
    height: 300px;
    border-radius: 50%; /* Make it a circular image */
}

h1 {
    color: #e91e63; /* Dark pink text color */
    margin-top: 20px; /* Add some margin between the image and text */
}

button {
    margin: 10px;
    padding: 15px; /* Make the buttons slightly bigger */
    cursor: pointer;
    background-color: #1b1316; /* Dark pink button color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease-out;
}

button:hover {
    background-color: #ff4081; /* Lighter pink on hover */
}

/* Additional styling for button2 when moved */
.button2-moved {
    transform: translate(0, 0);
}

.larger-button {
    font-size: 16px; /* Increase font size for larger buttons */
    color: #ffffff; /* Set text color to white */
    background-color: #e91e63; /* Set background color to a dark pink color */
}

.larger-button:hover {
    background-color: #ff4081; /* Change background color on hover to a lighter pink color */
}

.circle {
    position: absolute;
    width: 6px;
    height: 8px;
    background: #fff; /* White color */
    border-radius: 50%;
    opacity: 0.2; /* Adjust the opacity to control the sparkle intensity */
    pointer-events: none; /* Ensure circles don't interfere with clicks */
    animation: sparkle 1s infinite linear;
}

.circle1 { top: 20%; left: 5%; }
.circle2 { top: 50%; left: 10%; }
.circle3 { top: 80%; left: 15%; }
.circle4 { top: 30%; left: 20%; }
.circle5 { top: 60%; left: 25%; }
.circle6 { top: 10%; left: 30%; }
.circle7 { top: 40%; left: 35%; }
.circle8 { top: 70%; left: 40%; }
.circle9 { top: 90%; left: 45%; }
.circle10 { top: 20%; left: 50%; }
.circle11 { top: 50%; left: 55%; }
.circle12 { top: 80%; left: 60%; }
.circle13 { top: 30%; left: 65%; }
.circle14 { top: 60%; left: 70%; }
.circle15 { top: 10%; left: 75%; }
.circle16 { top: 40%; left: 80%; }
.circle17 { top: 70%; left: 85%; }
.circle18 { top: 90%; left: 90%; }
.circle19 { top: 20%; left: 95%; }
.circle20 { top: 50%; left: 90%; }

@keyframes sparkle {
    0%, 100% {
        transform: scale(1);
        opacity: 0.2;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.5;
    }
}

